<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Register Page</title>
    <link rel="stylesheet" href="/static/Register_Page_success.css" type="text/css">
</head>
<body style="background-image: url('/static/graph/background.jpg')">
    <div class="login-box">
        <img src="/static/graph/register.jpg" class="avatar" alt="Avatar Image">
              <h1>Congratulations !</h1>
      <form action="" method="POST">
            {% for msg in get_flashed_messages(category_filter=['ok']) %}
                <p class="login-box-msg">{{ msg }}</p>
            {% endfor %}
        <p id="line2">Now you could come back to the login page</p>
          <center>
           <a href="{{ url_for('login_page')}}">Back to login page</a>
          </center>
      </form>
    </div>
</body>
</html>